@import "./variable.css";

html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

#price {
  width: 40rem;
}

input, output, legend, label {
  color: var(--secondary);
  font-size: 2rem;
  
}

.main-box {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 150rem; /* :( */
}

button, select, option {
  font-size: 2rem;
  background-color: var(--secondary);
  margin: .5rem;
}

.control-panel {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 150rem; /* :( */
  
  background-color: var(--fivedary);
}

.theme {
  display: flex;
  flex-flow: column wrap;
  width: 25rem;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 45rem;
  height: 35rem;
  object-fit: cover;
  border-radius: 3rem;
  padding: 2rem;
}

.container{
  background-color: var(--secondary);

  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;
  flex-grow: 1;
  text-align: center;
  padding: 3rem;
  border-radius: 1rem;

  width: 40rem;
  max-width: 50rem;
  height: 70rem;
  margin: 2rem;
}

body{
  background-color: var(--threedary);
}

h1 {
  font-size: var(--h1);
  color: var(--primary);
}
h2 {
  font-size: var(--h2);
  color: var(--primary);
}
h3 {
  font-size: var(--h3);
  color: var(--fivedary);
}
h4{
  font-size: var(--h4);
  color: var(--fourdary);
}
h1, h2, h3, h4, h5 {
  text-align: center;
}

@media screen and (max-width: 120rem) { 
  .main-box, .control-panel {
    width: 150rem;
  }
}

@media screen and (max-width: 100rem) { 
  .main-box, .control-panel {
    width: 90rem;
  }
  .container {
    width: 40rem;
  }
  .card-img {
    width: 40rem;
  }
}

@media screen and (max-width: 60rem) { 
  .main-box, .control-panel {
    width: 50rem;
  }
  .container {
    width: 25rem;
  }
  .card-img {
    width: 40rem;
  }
}