@import "C:\Users\irene.li23\Documents\GitHub\vite-project-inconveniencestore\im-sleepy\CSS\variable.css";

html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.container{
  background-color: var(--neon-green);

  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;
  flex-grow: 1;
  text-align: center;
  padding: 3rem;
  border-radius: 1rem;

  width: 25rem;
  max-width: 30rem;
  height: 30rem;
  margin: 2rem;
}

body{
  background-color: var(--primary);
}

h1 {
  font-size: var(--h1);
  color: var(--neon-yellow);
}
h2 {
  font-size: var(--h2);
  color: var(--neon-yellow)
}
h1, h2, h3, h4, h5 {
  text-align: center;
}

