:root{
    --primary: #0033ff; 
    --secondary: var(--neon-yellow);
    --threedary: rgb(0, 140, 255);
    --fourdary: var(--bright-pink);

  
    --neon-yellow:#ffee00;
    --bright-pink: #ff00d0;
    --neon-green: #55ff00; 
  
    --h1: 8rem;
    --h2: 4rem;
    --h3: 2rem;
    --h4: 1.5rem;
  }

  
  
  .pink {
    --primary: var(--neon-yellow);
    --secondary: var(--bright-pink);
    --threedary: ;
    --fourdary: var(--neon-green);
    --backgroundcolor: white;
  }
  
  .green { 
    --primary: var(--neon-green);
  }

  .yellow {
    --primary: var(--neon-yellow);
  }